<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marriott.largeapkdownloader">

    <!-- Define a custom permission with signature protection -->
    <permission
        android:name="com.marriott.largeapkdownloader.TRIGGER_PERMISSION"
        android:protectionLevel="signature"
        android:label="Trigger Permission" />

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".DownloaderApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LargeAPKDownloader"
        tools:targetApi="31">


        <!-- FileProvider declaration -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

<!--        &lt;!&ndash; Register DebugActivity, but do not add a launcher intent filter &ndash;&gt;-->
<!--        <activity android:name=".DebugActivity"-->
<!--            android:exported="false" />-->

        <activity android:name=".DebugActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Register TriggerReceiver with the custom signature-protected permission -->
        <receiver
            android:name=".TriggerReceiver"
            android:exported="true"
            android:permission="com.marriott.largeapkdownloader.TRIGGER_PERMISSION">
            <intent-filter>
                <action android:name="com.marriott.largeapkdownloader.TRIGGER_WORKER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".TestReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.marriott.largeapkdownloader.TEST_BROADCAST" />
            </intent-filter>
        </receiver>


        <!-- Other components -->

    </application>
</manifest>
